Binaries
DerivedDataCache
Intermediate
Saved
Plugins/CLionSourceCodeAccess
CMakeLists.txt
TestingGrounds.workspace
TestingGroundsCodeCompletionFolders.txt
TestingGroundsCodeLitePreProcessor.txt
Content/Dynamic/Levels/FirstPersonExampleMap_BuiltData.uasset
**/*_BuiltData.uasset
cmake-build-debug
.idea
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
