Binaries
DerivedDataCache
Intermediate
Saved
Plugins/CLionSourceCodeAccess
CMakeLists.txt
TestingGrounds.workspace
TestingGroundsCodeCompletionFolders.txt
TestingGroundsCodeLitePreProcessor.txt
cmake-build-debug
.idea
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
